<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 class="title">Frequently Asked Questions</h3>

  <ion-card class="faq">
<h3>How to fill in student data?</h3>
<p>go to the homepage page, there are 2 types of data entry, insert page and edit page</p>
</ion-card>

<ion-card class="faq">
<h3>Why are there no students on my list?</h3>
<p>students need to register first, after that it will appear on your list</p>
</ion-card>

<ion-card class="faq">
<h3>Why are there no marks in some students?</h3>
<p>Maybe you forgot to fill in the student data which caused the data not to appear</p>
</ion-card>

<ion-card class="faq">
<h3>My student has registered but is not on my class name list?</h3>
<p>maybe your student chose the wrong class when registering</p>
</ion-card>

</ion-content>
