<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 class="title">Frequently Asked Questions</h3>

  <ion-card class="aboutus">
<h3>About US</h3>
<p>Monitoring Student Performance in Learning and Curriculum App (Mobile Application) is an application that is provided for monitoring of student learning progress. What does "monitoring student learning" involve? This app defines to monitoring as keeping watch over, supervising and also gives another more specific meaning to scrutinize or check systematically with a view to collecting certain specified categories of data. As the term is used in educational settings, monitoring takes in both these meanings and is closely connected with the related functions of record keeping, reporting, and decision making.</p>

<h3>Contact us</h3>
<p><b>Email : </b>nasyran@gmail.com</p>

<p><b>Phone number : </b>018-231 4335</p>

</ion-card>


</ion-content>
